.venv
.env
.gradio

__pycache__
*.egg-info
*.egg
*.whl
*.tar.gz
*.zip
*.pyc
*.pyo
*.pyd
*.so
*.out
*.o
*.a
*.class
*.log
*.coverage
*.cover
*.DS_Store
*.ipynb_checkpoints
*.pytest_cache
*.hypothesis
*.tox
*.mypy_cache

downloads
cache/
crew/
src/cache/